/* You can add global styles to this file, and also import other style files */

.purple {
  background-color: purple;
}

.gray {
  background-color: gray;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
